<!DOCTYPE html>
<html>
  <head>
    <title>Lunchify</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">    

        <li class="<%= 'active' if current_page?(menus_path) %>"><%= link_to 'Menus', menus_path %></li>
        <li class="<%= 'active' if current_page?(new_food_item_path) %>"><%= link_to 'Add Food', new_food_item_path %></li>
        <li class="<%= 'active' if current_page?(new_menu_item_path) %>"><%= link_to 'Add Menu Item', new_menu_item_path %></li>
        <li class="<%= 'active' if current_page?(new_menu_path) %>"><%= link_to 'Add Menu', new_menu_path %></li>
      </ul>
      <%= link_to image_tag("lunchify.png"), menus_path %>
    </div>
    <% flash.each do |key, value| %>
    <%= content_tag(:div, "#{value}<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>".html_safe, class: "alert alert-#{key} container alert-dismissable") %>    
    <% end %>
    
    <%= yield %>

    <div class="footer">
      <p>&copy; Created Tyler Sangster for Shopify 2013</p>
    </div>
    
    </div> <!-- /container -->
  

  </body>
</html>
